<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.colin.mapper.AdminMapper">

    <resultMap id="admin" type="com.colin.bean.Admin">
        <id column="admin_id" property="id"/>
        <result column="admin_name" property="name"/>
        <result column="admin_password" property="password"/>
        <result column="admin_sex" property="sex"/>
        <result column="admin_location" property="location"/>
        <result column="admin_telephone" property="telephone"/>
    </resultMap>


    <!--<resultMap id="admin" type="com.colin.bean.Admin">-->
    <!--<id column="admin_id" property="id"/>-->
    <!--<result column="content" property="name"/>-->
    <!--<result column="videourl" property="password"/>-->
    <!--<result column="pictureurl" property="sex"/>-->
    <!--<result column="createtime" property="location"/>-->
    <!--<result column="reason" property="telephone"/>-->
    <!--<result column="likecount" property="likesCount"/>-->
    <!--<result column="transmitcount" property="forwardCount"/>-->
    <!--<result column="label" property="label"/>-->
    <!--<association property="user" javaType="com.colin.bean.User">-->
    <!--<id column="uid" property="id"/>-->
    <!--</association>-->
    <!--</resultMap>-->


    <select id="selectAdmin" resultMap="admin">
         select admin_id,admin_name,admin_password,admin_sex,admin_location,admin_telephone from admin where admin_id = #{id}
    </select>
</mapper>